<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Copyright Goose</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="plack">
      <h1>Discover Copyright Goose</h1>
    </div>
    <div class="content">
      <img
        class="profile-img"
        src="{{ url_for('static', filename='img/goose.png')}}"
        alt=""
      />
      <p>For managing and protecting your creative works.</p>
      <p></p>
      <a href="https://fiverr.com/">Hire me through Fiverr</a>
    </div>
    <div class="about-me">
      <h2>About Me</h2>
      <p>
        Hi, I’m Guus. I create clear, engaging copy that connects with people
        and gets results. From websites to product descriptions and social media
        posts, I make your brand sound human and memorable. im excited to work
        with you and look forward to your reply.
      </p>
    </div>
  </body>
</html>
